APP_ENV=local
APP_DEBUG=false
APP_TIMEZONE=Asia/Manila
APP_URL=http://localhost/food_ordering_system

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=food_ordering_system_db
DB_USER=root
DB_PASSWORD=""

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_google_email@example.com
SMTP_APP_PASSWORD=your_16_character_app_password
SMTP_FROM_NAME="Savorly Kitchen"
